name: Remote JVM Jar Launcher
version: "0.0.6"
slug: java-plugins
description: "PF4J-based remote JVM launcher with HTTP jar upload endpoint"
url: "https://github.com/mercurievv/ha-addons"
arch:
  - amd64
#  - aarch64
# Show in 'Add-on store' UI
startup: services
boot: auto
# map a persistent volume for plugins
map:
  - addon_config:rw
# if your app stores plugins in /data/plugins (from your jib config)
options:
  api_ext_token: ""

schema:
  api_ext_token: str
ports:
  "8666/tcp": 8666
  "8667/tcp": 8667  # /api-ext (authenticated)

environment:
  PLUGINS_DIR: /data/plugins
  INTERNAL_HTTP_PORT: "8666"
  EXTERNAL_HTTP_PORT: "8667"
  AUTH_TOKEN: "${api_ext_token}"

# ingress settings
ingress: true
ingress_stream: true
ingress_port: 8666
ingress_panel: true  # show in sidebar ("java-plugins")

image: "ghcr.io/mercurievv/remotejvmjarlauncher:1220da1"