name: Remote JVM Jar Launcher
version: "84353dd"
slug: java-plugins
description: "PF4J-based remote JVM launcher with HTTP jar upload endpoint"
url: "https://github.com/mercurievv/ha-addons"
arch:
  - amd64
#  - aarch64
# Show in 'Add-on store' UI
startup: services
boot: auto
# map a persistent volume for plugins
map:
  - addon_config:rw
# if your app stores plugins in /data/plugins (from your jib config)
options: {}
schema: {}
ports:
  "8666/tcp": 8666

environment:
  PLUGINS_DIR: /data/plugins
  HTTP_PORT: "8666"

# ingress settings
ingress: true
ingress_port: 8666
ingress_panel: true  # show in sidebar ("java-plugins")

image: "ghcr.io/mercurievv/remotejvmjarlauncher"